---
Checks:          'clang-diagnostic-*,
                  clang-analyzer-*,
                  *,
                  -modernize-use-trailing-return-type,
                  -modernize-use-nodiscard,
                  -fuchsia-overloaded-operator,
                  -misc-unused-parameters,
                  -llvm-header-guard'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...

