Source: fty-cmake
Maintainer: Clement Perrette <clementperrette@eaton.com>
Build-Depends:
    cmake (>=3.13),
    pkg-config,
    debhelper (>= 9)
Standards-Version: 1.0.0
Section: devel
Priority: extra

Package: fty-cmake-dev
Architecture: any
Section: devel
Depends:
    cmake (>=3.13),
    pkg-config
Description: CMake helper for fty 
